body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

code {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 13px;
    background: rgb(229, 229, 229);
    border-radius: 3px;
    padding: 0 2px;
}

pre {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    width: 60%;
    background: rgb(229, 229, 229);
    border-radius: 3px;
    padding: 5px;
}

h3, h4, h5, h6 {
    color: crimson;
}

.code {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 90%;
}

a, a:visited {
    color: crimson;
    text-decoration: underline;
}
    a:hover, a:active {
        color: crimson;
        text-decoration: none;
    }